[Unit]
Description = Kenkoukun.go

[Service]
User=root
WorkingDirectory=/home/ubuntu/kenkoukun
ExecStart=/bin/bash -c "/usr/bin/docker start kenkoukun && /usr/bin/docker logs -f kenkoukun"
Restart=always

[Install]
WantedBy=multi-user.target
