[Unit]
Description = Kenkoukun.go

[Service]
WorkingDirectory=/home/ubuntu/kenkoukun
ExecStart=/usr/bin/make docker/start
Restart=always

[Install]
WantedBy=multi-user.target
